<div class='container pb-4'>
  <h2 class='my-4'><%= t('.title') %></h2>
    <table class="table table-responsive">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col"><%= t('.initials') %></th>
        <th scope="col"><%= t('.meaning') %></th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>SAT</td>
        <td>Sistemas de Informações de Acidentes de Trânsito</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>SIM</td>
        <td>Sistema de Informação sobre Mortalidade</td>
			</tr>
			<tr>
        <th scope="row">3</th>
        <td>SIH</td>
        <td>Sistema de Informações Hospitalares do SUS</td>
			</tr>
			<tr>
        <th scope="row">4</th>
        <td>SAMU</td>
        <td>Serviço de Atendimento Móvel de Urgência</td>
      </tr>
			<tr>
        <th scope="row">5</th>
        <td>InfoSIGA</td>
        <td>Sistema de Informações Gerenciais de Acidentes de Trânsito</td>
      </tr>
			<tr>
        <th scope="row">6</th>
        <td>SPVT</td>
        <td>Sistema de Pareamento de dados sobre Violência no Trânsito</td>
      </tr>
    </tbody>
    </table>
</div>
