<footer class="bg-dark fixed-bottom">
  <div class="container offset-pt-4">
    <div class=" d-flex justify-content-center">
      <p class="m-3"><%= image_tag("CET-branco.png", style: 'height:50px;') %></p>
      <p class="m-3"><%= image_tag("Mobilidade.png", style: 'height:70px;') %></p>
      <p class="m-3"><%= image_tag("saude.png", style: 'height:60px;') %></p>
      <p class="m-3"><%= image_tag("BP_IGRS_Logo.png", style: 'height:50px;') %></p>
    </div>
    <div class=" d-flex justify-content-around">
      <p class="m-2 text-center text-white"> Versão 5.2.0 -- 31/08/2022 </p>
      <p class="m-2 text-center text-white"> <%= link_to "Repositório", "https://gitlab.com/pragmacode/vital-strategies-sadvt" %></p>
      <p class="m-2 text-center text-white"> <%= link_to "Licença AGPL v3.0", "https://gitlab.com/pragmacode/vital-strategies-sadvt/-/blob/master/COPYING" %></p>
    </div>
  </div>
</footer>
