<% flash.each do |key, value| %>
  <div class="alert alert-<%= css_class_for_flash_type(key) %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
      <% if value.is_a? Array %>
        <% value.each do |string| %>
          <li>
            <%= string %>
          </li>
        <% end %>
      <% else %>
        <li>
          <%= value %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
