<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= link_to 'SPVT', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to t('.pairings'), root_path, class: 'nav-link' %></a>
        </li>

        <li class="nav-item">
          <%= link_to t('.official_files'), inputs_official_files_path, class: 'nav-link' %></a>
        </li>

        <li class="nav-item">
          <%= link_to t('.abbreviations'), descriptions_abbreviations_path, class: 'nav-link' %></a>
        </li>

        <% if current_user %>
          <% if current_user&.admin? %>
            <li class="nav-item">
              <%= link_to t('.admin'), trestle_path, class: 'nav-link' %></a>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to t('.logout'), destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to t('.login'), new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
