<div class="container">
  <div class="row">
    <div class="column col-md-4">
      <h2 class='pt-1'><%= t('.sign_in') %></h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class='form-row'>
          <div class="form-group col">
            <%= f.label :email %>
            <%= f.email_field :email, options={ autofocus: true, autocomplete: "email", class: 'form-control' } %>
          </div>
        </div>

        <div class='form-row'>
          <div class="form-group col">
            <%= f.label :password %><br />
            <%= f.password_field :password, options={ autocomplete: "current-password", class: 'form-control' } %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class='form-row'>
          <div class="form-group mt-2">
            <%= f.submit t('.sign_in'), class: 'btn btn-primary btn-block form-group p-2' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
