server {
  listen 80;
  listen [::]:80;

  server_name {{ nginx_server_name }};

  location / {
    proxy_pass http://localhost:3002/;
    proxy_set_header  Host $host;
    proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header  X-Forwarded-Proto $scheme;
    proxy_set_header  X-Forwarded-Port $server_port;
    proxy_set_header  X-Forwarded-Host $host;
    proxy_read_timeout 7200;
    proxy_connect_timeout 7200;
    proxy_send_timeout 7200;
  }

  client_max_body_size 10G;
}
