<div class='row border-top pt-1 mt-1'>
  <div class='col-md-3'><%= l pairing.created_at, format: :long %></div>

  <div class='col-md-2'><%= pairing.human_kind_name %></div>

  <div class='col-md-2'><%= pairing.aasm.human_state %></div>

  <div class='col-md-3'><%= pairing.description %></div>

  <div class='col-md-2 text-right'>
    <%= link_to t('.show'), pairing_path(pairing), class: 'btn btn-info btn-sm' %>

    <% if current_user&.write_allowed? %>
      <%= link_to t('.destroy'), pairing_path(pairing), data: { confirm: t('.are_you_sure') }, method: :delete, class: 'btn btn-danger btn-sm' %>
    <% end %>
  </div>
</div>
