<div class='container pb-4'>
  <h2 class='my-4'><%= t('.title') %></h2>

  <% if current_user&.write_allowed? %>
    <p><%= link_to t('.new'), new_pairing_path, class: 'btn btn-primary' %></p>
  <% end %>

  <div class='row font-weight-bold'>
    <div class='col-md-3'><%= Pairing.human_attribute_name :created_at %></div>

    <div class='col-md-2'><%= Pairing.human_attribute_name :kind %></div>

    <div class='col-md-2'><%= Pairing.human_attribute_name :aasm_state  %></div>

    <div class='col-md-3'><%= Pairing.human_attribute_name :description  %></div>

    <div class='col-md-2'></div>
  </div>

  <%= render partial: 'pairing', collection: @pairings, as: :pairing %>
</div>
