<%= form_with model: @pairing, local: true, class: 'container form-group pt-4' do |form| %>
  <div class="form-container pb-5">
    <h2><%= t('.title') %></h2>
  </div>

  <div class='form-group'>

    <div class='row g-3'>
      <div class='col-md-3'>
        <%= form.label :kind, class: 'form-label' %> <br>
        <%= form.select :kind, options_for_pairing_kind_select, class: 'col-form-select' %>
      </div>
    </div>

    <div class='row g-3'>
      <div class='col-md-3'>
        <%= form.label :description, class: 'form-label'%>
        <%= form.text_field :description, class: 'col-form-control'%>
      </div>
    </div>
  </div>

  <%= form.submit t('.save'), class: 'btn btn-primary' %>
<% end %>
