<%= form_with model: @pairing, local: true, class: 'container form-group pt-4' do |form| %>
  <div class="container pt-4">
    <div class="pb-5">
      <h2><%= t('.title') %> <%= @pairing.human_kind_name %> </h2>
    </div>
  </div>

  <%= form.hidden_field :kind, value: @pairing.kind %>

  <%= form.fields_for :inputs, @pairing.inputs do |input_fields| %>
    <% if display_upload_file?(input_fields) %>
      <div class="row m-4">
        <div class="col-md-10 custom-file">
          <%= input_fields.file_field :file, class: 'custom-file-input', lang: 'pt' %>
          <%= input_fields.label file_type_to_upload(input_fields), class: 'custom-file-label' %>
        </div>

        <%= input_fields.hidden_field :input_type_id %>
      </div>
    <% end %>
  <% end %>

  <%= form.submit t('.save'), class: 'btn btn-primary actions' %>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function () {
    bsCustomFileInput.init()
  })
<% end %>
