<%= form_with model: @pairing, url: { action: :pick_pairing_columns, method: :patch }, local: true, class: 'container form-group pt-4' do |form| %>
  <div class="container pt-4">
    <div class="pb-5">
      <h2> <%= t('.title') %> </h2>
    </div>

    <div class="row d-flex justify-content-center pb-3">
      <div class="col-4">
        <p><%= link_to t('.back'), pairing_path(@pairing), class: 'btn btn-secondary' %></p>
      </div>

      <div class="col-4">
        <%= form.submit t('.save_pairing_inputs'), class: 'btn btn-primary actions' %>
      </div>
    </div>
  </div>

  <% @columns.each do |input, columns| %>
    <div class="py-2">
      <h4> <%= t('.file') %> <b><%= input.input_type.human_name %></b> </h4>
        <div class="py-3 form-check container d-flex">
          <div class="row">
            <% columns.each do |column| %>
              <div class="col-3">
                <%= form.check_box :selected_columns, { checked: column.selected, multiple: true, class: 'input_columns' }, column.id, nil %>
                <%= form.label :selected_columns, column.title %>
              </div>
            <% end %>
          </div>
        </div>
    </div>
  <% end %>
<% end %>
