<div class="container pt-4">
  <div class="pb-5">
    <h2><%= t('.title') %></h2>
  </div>

  <div class="row">
    <div class="col-4">
      <p><%= link_to t('.back'), root_path, class: 'btn btn-secondary' %></p>
    </div>

    <% if show_upload_button?(@pairing, current_user) %>
      <div class="col-4">
        <p><%= link_to t('.upload_inputs'), pairing_inputs_path(@pairing), class: 'btn btn-primary' %></p>
      </div>
    <% end %>

    <% if current_user&.write_allowed? %>
      <div class="col-4">
        <p><%= link_to t('.run'), pairing_run_path(@pairing), class: trigger_button_class(@pairing) %></p>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-2">
      <b><%= Pairing.human_attribute_name :created_at %>:</b>
    </div>

    <div class="col-md-10">
      <%= l @pairing.created_at, format: :long %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <b><%= Pairing.human_attribute_name :kind %>:</b>
    </div>

    <div class="col-md-10">
      <%= @pairing.human_kind_name %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <b><%= Pairing.human_attribute_name :aasm_state %>:</b>
    </div>

    <div class="col-md-10">
      <%= @pairing.aasm.human_state %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <b><%= Pairing.human_attribute_name :description %>:</b>
    </div>

    <div class="col-md-10">
      <%= @pairing.description %>
    </div>
  </div>

  <hr />

  <h3 class="py-1"><%= t('.chosen_columns') %></h3>

  <div id="accordion">
    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
        <h4 class="mb-0">
          <a data-toggle="collapse" data-target="#collapseOne" href="collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <span style="color: #0c0c0c"> <%= t('.accordion_title') %> </span>
          </a>
        </h4>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="row d-flex justify-content-between">
            <div class="col-3"></div>
            <%= link_to(t('.set_selected_columns'), pairing_select_input_columns_path(@pairing), class: 'col-3 btn btn-primary') if current_user&.can_select_input_columns?(@pairing)  %>
            <div class="col-3"></div>
          </div>
          <% @pairing.group_columns_by_origin.each do |input, columns| %>
            <h4> <b> <%= input.input_type.human_name %></b> </h4>
            <div class="row pb-3">
              <% columns.each do |column| %>
                <% if column.selected %>
                  <div class="col-3">
                    <%= column.title %>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="pb-5">
    <h3><%= t('.inputs') %></h3>
  </div>

  <div class="row">
    <%= render @pairing.list_required_inputs %>
  </div>

  <% if @pairing.official_base %>
    <div class="py-5">
      <h3><%= t('.official_base') %></h3>
    </div>

    <div class="row">
      <%= render @pairing.official_base %>

      <% if @pairing.done? && current_user&.write_allowed? %>
        <div class="col-4">
          <p><%= link_to t(upload_button_text(@pairing)), pairing_official_base_path(@pairing), class: 'btn btn-primary' %></p>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="pt-5 pb-3">
    <h3><%= t('.finals') %></h3>
  </div>

  <div class="row pb-5">
    <%= render show_final_outputs(@pairing) %>
  </div>

  <div class="pb-3">
    <h3><%= t('.intermediate') %></h3>
  </div>

  <div class="row pb-5">
    <%= render show_intermediate_outputs(@pairing) %>
  </div>
</div>
