<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>

    <title>SPVT - Sistema de Pareamento de dados sobre Violência no Trânsito</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link type="text/plain" rel="author" href="/humans.txt" />
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <%= render 'shared/messages' %>
    <br />

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
